@model ProductListViewModel

@{
    ViewBag.Title = "Wishlist";
}

<h2>Wishlist</h2>
@if (Model != null)
{
    @Html.Partial("_RenderProductsPartial", Model)

    @section Scripts{
        <script src="~/scripts/wishlist.js"></script>
    }
}
else
{
    <div class="row alert alert-danger">
        <p class="text-center">There are no items in your Wishlist!</p>
    </div>
}
