@model ProductListViewModel

@{
    ViewBag.Title = "Wishlist";
}

<h2>Wishlist</h2>
@Html.Partial("_RenderProductsPartial", Model)
@section Scripts {
    <script src="~/scripts/wishlist.js"></script>
}