@model SelectListViewModel

<div class="navbar-form">
    @using (Ajax.BeginForm("Index", "Product", new AjaxOptions()
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "documentsList"
        }))
    {
        <div class="form-group">
            @Html.DropDownList("manufacturer", @Model.SelectListManufacturers, "Manufacturers", new { @class = "form-control", @onchange = "$(this.form).submit();" })
        </div>
        <div class="form-group">
            @Html.DropDownList("category", @Model.SelectListCategories, "Categories", new { @class = "form-control", @onchange = "$(this.form).submit();" })
        </div>
    }
</div>
