@model ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<h2 class="headline4">Products</h2>

@Html.Action("ManufacturersCategoriesSelectList", "Product")


@Html.Partial("_RenderProductsPartial", Model)
