@model ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@*@Html.Action("CategoriesSelectList", "Category")
    @Html.Action("ManufacturersSelectList", "Product")<br />*@
@Html.Action("ManufacturersCategoriesSelectList", "Product")<br />


@Html.Partial("_RenderProductsPartial", Model)
