@model ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@if (Model.Products.Count > 0)
{
    @Html.Action("CategoriesSelectList", "Category")<br />
}

@Html.Partial("_RenderProductsPartial", Model)

