@model CatalogueNew.Web.Models.ProductListViewModel

@{
    ViewBag.Title = "Products with tag: " + ViewBag.TagName;
}

@if (Model != null)
{
    <h2 class="headline4">@ViewBag.Title</h2>
    @Html.Partial("_RenderProductsPartial", Model)
}
else
{
    @Html.Partial("_NotFound")
    return;
}
