body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

@font-face {
    font-family: 'glyphicons_halflingsregular';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.glyphicons {
    font-family: glyphicons_halflingsregular;
    font-size: 1.3em;
}

.star-rating {
    display: inline-block;
}

h1, h2, h3 {
    text-align: center;
}

footer {
    text-align: center;
}

.field-validation-error > span {
    color: red;
}

#formComment {
    width: 450px;
}

#dropZone {
    background: gray;
    border: black dashed 3px;
    width: 200px;
    padding: 50px;
    text-align: center;
    color: white;
}

img {
    width: 100%;
    height: 150px;
}

.img-preview {
    padding: 0;
    margin: 10px;
}

    .img-preview img {
        height: auto;
        display: inline-block;
        max-width: 100%;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

        .img-preview img:hover {
            opacity: 0.5;
        }

    .img-preview:hover::after {
        position: absolute;
        margin-top: -65%;
        left: 35%;
        color: red;
        font-size: 2em;
        z-index: 1;
        content: "\e088";
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
    }

.without-first {
    width: 100%;
    height: 10%;
}

#comment {
    width: 100%;
}

#comment-reply, #comment-edit {
    max-width: 100%;
    max-height: 300px;
}

.container .container-fluid {
    overflow: hidden;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

div .reply {
    display: none;
    min-width: 100%;
    max-width: 650px;
}

div .edit {
    display: none;
    min-width: 100%;
    max-width: 650px;
}

.child-comment {
    padding-left: 25px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

#rating, #stars {
    display: none;
}

#documentsList {
    margin-top: 30px;
}

.details {
    margin-top: 30px;
}

thumbnail:hover {
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.275) !important;
    box-shadow: 0 1px 10px rgba(0,0,0,0.275);
}

#add-wishlist {
    width: 135px;
    text-shadow: 1px 1px 1px #464646;
    color: #fbfbfb;
}

#remove-wishlist {
    width: 30px;
    height: 30px;
    color: #fbfbfb;
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
    font-size: 7pt;
}

.checkbox input[type="checkbox"] {
    margin-left: 5px;
}

.text-info {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
}


#load {
    text-align: center;
    background: radial-gradient(circle, #fff 0%, #bbb 85%) no-repeat;
    background: -webkit-radial-gradient(circle, #fff 0%, #bbb 85%) no-repeat;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0.8;
    position: fixed;
}

#load-center {
    margin: 25% 0 0 0;
    z-index: 10;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100%;
    height: 50%;
}

.ouro {
    display: inline-block;
    position: absolute;
    height: 46px;
    width: 46px;
    margin: 1em;
    border-radius: 50%;
    background: none repeat scroll 0 0 #DDDDDD;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
}

    .ouro:after {
        content: "";
        position: absolute;
        top: 9px;
        left: 9px;
        display: block;
        height: 28px;
        width: 28px;
        background: none repeat scroll 0 0 #F2F2F2;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }

    .ouro > span {
        position: absolute;
        height: 100%;
        width: 50%;
        overflow: hidden;
    }

.left {
    left: 0;
}

.right {
    left: 50%;
}

.anim {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #508EC3;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}

.left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
}

/* v3 */
.ouro3 .anim {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.ouro3 .right .anim {
    -webkit-animation-name: ui-spinner-rotate-right;
    -webkit-animation-delay: 0;
    -webkit-animation-delay: 1.5s;
    animation-name: ui-spinner-rotate-right;
    animation-delay: 0;
    animation-delay: 1.5s;
}

/* round variation */
.round .ouro:after {
    display: none;
}

/* double variation */
.double .ouro:after {
    height: 13px;
    width: 13px;
    left: 7px;
    top: 7px;
    border: 10px solid #ddd;
    background: transparent;
    box-shadow: none;
}

@keyframes ui-spinner-rotate-right {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes ui-spinner-rotate-left {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ui-spinner-rotate-right {
    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes ui-spinner-rotate-left {
    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

#scrollUp {
    display: none;
    bottom: -10px;
    right: 30px;
    width: 70px;
    height: 70px;
    padding: 10px 5px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    color: #828282;
    -webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(top,#ebebeb,#dedede);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ebebeb),to(#dedede));
    background-image: -webkit-linear-gradient(top,#ebebeb,#dedede);
    background-image: -o-linear-gradient(top,#ebebeb,#dedede);
    background-image: linear-gradient(to bottom,#ebebeb,#dedede);
    background-repeat: repeat-x;
    -webkit-transition: bottom 150ms linear;
    -moz-transition: bottom 150ms linear;
    transition: bottom 150ms linear;
}

    #scrollUp:hover {
        bottom: 0px;
    }
