@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 8%;
    font-family: Roboto-Regular;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

@font-face {
    font-family: 'glyphicons_halflingsregular';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.glyphicons {
    font-family: glyphicons_halflingsregular;
    font-size: 1.3em;
}

#glyph-manu, #glyph-cate, #glyph-user {
    font-size: 2em;
    text-align: center;
}

.star-rating {
    display: inline-block;
}

h1, h2, h3, h4 {
    text-align: center;
}

footer {
    text-align: center;
}

.field-validation-error > span {
    color: red;
}


.navbar {
    background: url(/Images/img/bg.png) repeat;
    border-bottom: 5px solid #7e99ab;
    height: 150px;
}

.navbar-right {
    margin-top: 5.5%;
}

.navbar-brand {
    background-image: url(/Images/img/logo.png);
    position: absolute;
    left: 46%;
    top: 25%;
    text-indent: -9999px;
    height: 72px;
    width: 162px;
}

.navbar ul {
    margin-top: 7%;
    text-transform: uppercase;
    margin-left: -5%;
}

    .navbar ul li {
        color: #fff;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #7e99ab;
    height: 65px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: Montserrat-Regular;
    font-size: 10pt;
}

.navbar-header {
    width: 100%;
}

#formComment {
    width: 450px;
}

#dropZone {
    background: gray;
    border: black dashed 3px;
    width: 200px;
    padding: 50px;
    text-align: center;
    color: white;
}

img {
    width: 100%;
    height: 150px;
}

.img-preview {
    padding: 0;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    background: white;
}

    .img-preview img {
        padding: 5px;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .img-preview:hover > img {
        opacity: 0.5;
    }

    .img-preview:hover::after {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        color: red;
        font-size: 2em;
        z-index: 1;
        content: "\e088";
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
    }

.without-first {
    width: 100%;
    height: 10%;
}

#comment {
    width: 100%;
    font-size: large;
}

#comment-reply, #comment-edit {
    max-width: 100%;
    max-height: 300px;
    font-size: large;
}

.container .container-fluid {
    overflow: hidden;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

div .reply {
    display: none;
    min-width: 100%;
    max-width: 650px;
}

div .edit {
    display: none;
    min-width: 100%;
    max-width: 650px;
}

.child-comment {
    padding-left: 25px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

#rating, #stars {
    display: none;
}

#documentsList {
    margin-top: 30px;
}

#description {
    height: 200px;
    max-height: 300px;
    max-width: 450px;
}

.details {
    margin-top: 30px;
}

thumbnail:hover {
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.275) !important;
    box-shadow: 0 1px 10px rgba(0,0,0,0.275);
}

#add-wishlist {
    width: 145px;
    text-shadow: 1px 1px 1px #464646;
    color: #fbfbfb;
    position: relative;
    top: 1px;
}

#remove-wishlist {
    width: 30px;
    height: 30px;
    color: #fbfbfb;
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
    font-size: 7pt;
}

.checkbox input[type="checkbox"] {
    margin-left: 5px;
}

.text-info {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    font-size: large;
}


#load {
    text-align: center;
    background: radial-gradient(circle, #fff 0%, #bbb 85%) no-repeat;
    background: -webkit-radial-gradient(circle, #fff 0%, #bbb 85%) no-repeat;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0.8;
    position: fixed;
}

#load-center {
    margin: 25% 0 0 0;
    z-index: 10;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100%;
    height: 50%;
}

.ouro {
    display: inline-block;
    position: absolute;
    height: 46px;
    width: 46px;
    margin: 1em;
    border-radius: 50%;
    background: none repeat scroll 0 0 #DDDDDD;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
}

    .ouro:after {
        content: "";
        position: absolute;
        top: 9px;
        left: 9px;
        display: block;
        height: 28px;
        width: 28px;
        background: none repeat scroll 0 0 #F2F2F2;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }

    .ouro > span {
        position: absolute;
        height: 100%;
        width: 50%;
        overflow: hidden;
    }

.left {
    left: 0;
}

.right {
    left: 50%;
}

.anim {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #508EC3;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}

.left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
}

/* v3 */
.ouro3 .anim {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.ouro3 .right .anim {
    -webkit-animation-name: ui-spinner-rotate-right;
    -webkit-animation-delay: 0;
    -webkit-animation-delay: 1.5s;
    animation-name: ui-spinner-rotate-right;
    animation-delay: 0;
    animation-delay: 1.5s;
}

/* round variation */
.round .ouro:after {
    display: none;
}

/* double variation */
.double .ouro:after {
    height: 13px;
    width: 13px;
    left: 7px;
    top: 7px;
    border: 10px solid #ddd;
    background: transparent;
    box-shadow: none;
}

@keyframes ui-spinner-rotate-right {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes ui-spinner-rotate-left {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ui-spinner-rotate-right {
    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes ui-spinner-rotate-left {
    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

#scrollUp {
    display: none;
    background-image: url("../Images/top.png");
    bottom: 20px;
    right: 20px;
    width: 38px; /* Width of image */
    height: 38px; /* Height of image */
    }

.star-rating {
    display: inline-block;
}

.headline4 {
    font-family: OpenSans-Regular;
    position: relative;
    border-color: #eee;
    border-style: solid;
    border-width: 5px;
    background: #fff;
    margin: 30px 0 15px -15px;
    padding: 5px 15px;
}

.headline2 {
    border-bottom: 1px solid #aaa;
    font-family: OpenSans-Regular;
    margin: 15px 0;
    padding: 5px 0;
    position: relative;
}

    .headline2:before,
    .headline2:after {
        content: '';
        border-right: 20px solid #fff;
        border-top: 15px solid #aaa;
        bottom: -15px;
        position: absolute;
        left: 25px;
    }

    .headline2:after {
        border-top-color: #fff;
        border-right-color: transparent;
        bottom: -13px;
        left: 26px;
    }

.dropdown ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 9px;
    width: 150px;
    list-style-type: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    color: #fff;
}

    .dropdown ul li {
        background: #7e99ab;
        color: #fff;
        font-family: Montserrat-Regular;
    }

        .dropdown ul li a {
            color: #fff;
            font-size: 9pt;
            width: 100%;
            color: #fff;
            display:block;
            padding: 10px 20px 10px 20px;
        }

            .dropdown ul li a:hover {
                color: #fff;
                text-decoration: none;
            }

        .dropdown ul li:hover {
            background: #738b9b;
            color: #fff;
        }

ul li:hover ul {
    display: block;
    color: #fff;
    opacity: 1;
    visibility: visible;
}

.handle img {
    position: relative;
    z-index: 99;
    bottom: 24px;
}

@media screen and (max-width: 786px) {

    .navbar {
        background: url(/Images/img/bg.png) repeat;
        border-bottom: 5px solid #7e99ab;
        height: 60px;
    }

    .navbar-collapse {
        background: url(/Images/img/bg.png) repeat;
        padding-left: 0;
        border-top: none;
    }


    .navbar-right {
        margin-top: 5.5%;
    }

    .navbar ul {
        margin-top: 2%;
        text-transform: uppercase;
        margin-left: 0;
    }

        .navbar ul li {
            color: #fff;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
        }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
        background-color: #7e99ab;
        height: 40px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    .navbar-default .navbar-nav > li > a {
        color: #fff;
        font-family: Montserrat-Regular;
        font-size: 10pt;
    }

    .navbar-header {
        width: 100%;
    }

    ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        list-style-type: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        color: #fff;
    }
}

/*
    Tags 
*/

#addTagSpan {
    color: #449d44;
}

#addTag {
    position: relative;
    left: -4px;
    top: -1px;
    border-radius: 0;
    padding: 3px 10px;
    text-shadow: 1px 1px 1px #464646 !important;
}

.addTagDiv {
    display: inline-block;
}

.tags > a {
    margin-left: 5px;
}

.removeTag {
    color: #d9534f;
    cursor: pointer;
    margin-left: 3px;
}
