@model UserViewModels

    @if (Model.isAdmin)
{
        <td>
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </td>
}
else
{
        <td>
            <span class="glyphicon-remove-circle glyphicon" aria-hidden="true"></span>
        </td>
}

    @if (Model.isManager)
    {
        <td>
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </td>
    }
    else
    {
        <td>
            <span class="glyphicon-remove-circle glyphicon" aria-hidden="true"></span>
        </td>
    }

    @if (Model.isModerator)
    {
        <td>
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </td>
    }
    else
    {
        <td>
            <span class="glyphicon-remove-circle glyphicon" aria-hidden="true"></span>
        </td>
    }


