@model CatalogueNew.Web.Views.AppViewPage
@{
    ViewBag.Title = "Index";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Index</h2>
        @if (CurrentUser.Name == "")
	    {
		    <p>Please <a href="@Url.Action("LogIn", "Auth")">Log In</a> into your account!</p>
	    }
        else
	    {
           <p>Hello @CurrentUser.Name! </p>
           <p>
                <a href="@Url.Action("LogOut", "Auth")">Log Out</a>
           </p>
        }

</body>