@{
    ViewBag.Title = "Index";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Index</h2>
    @ViewBag.Product.Name
    @ViewBag.Product.Category.Name
    @ViewBag.Product.ProductYear
</body>